In [3]:
import pandas as pd

In [4]:
Budget_df = pd.read_csv("Resources/budget_data.csv")
chrono_df = Budget_df.set_index("Revenue")

total_months = len(Budget_df)

In [5]:
chrono_df

            Date
Revenue
 1154293  Oct-12
 885773   Nov-12
-448704   Dec-12
 563679   Jan-13
 555394   Feb-13
 631974   Mar-13
 957395   Apr-13
 1104047  May-13
 693464   Jun-13
 454932   Jul-13
 727272   Aug-13
 125016   Sep-13
 339251   Oct-13
 78523    Nov-13
 977084   Dec-13
 1158718  Jan-14
 332681   Feb-14
-341227   Mar-14
 173826   Apr-14
 742611   May-14
 1189806  Jun-14
 607363   Jul-14
-1172384  Aug-14
 587993   Sep-14
 295198   Oct-14
-300390   Nov-14
 468995   Dec-14
 698452   Jan-15
 967828   Feb-15
-454873   Mar-15
 375723   Apr-15
 1140526  May-15
 83836    Jun-15
 413189   Jul-15
 551363   Aug-15
 1195111  Sep-15
 657081   Oct-15
 66659    Nov-15
 803301   Dec-15
-953301   Jan-16
 883934   Feb-16

In [6]:
total_rev = Budget_df[["Revenue"]].sum()
#print("Total Revenue: $" + Total_rev)

max_rev = Budget_df[["Revenue"]].max()
month_max = chrono_df.loc[max_rev, "Date"]


min_rev = Budget_df[["Revenue"]].min()
month_min = chrono_df.loc[min_rev, "Date"]

In [7]:
import os
import csv

In [8]:
budget_data = os.path.join("Resources", "budget_data.csv")

with open(budget_data, newline="") as csvfile:
    csvreader = csv.reader(csvfile, delimiter=",")

    previous_monthly_rev = int(budget_data[0][1])
    avg_list = []

IndexError: string index out of range

In [1]:
    for row in csvreader
        change = int(row[1] - previous_monthly_rev)
        previous_monthly_rev = int(row[1])
        avg_list.append(change)
        previous_monthly_rev = int(row[1])

SyntaxError: invalid syntax (<ipython-input-1-447b807e57e5>, line 1)